/*Avoids white background*/
.reveal section img { background:none; border:none; box-shadow:none; }

/*Logo*/

body  {
    background-image: url('FSA_SDM_blanc.png');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: top right;
}

.reveal h1,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
}

.reveal h2 {
  color: lightgreen;
  text-transform: none;
  text-align: left;
}


.reveal h2.author {
  text-align: center;
  color: gray
}

.reveal p {
  text-align: left;
}
.reveal ul {
  display: block;
}

.reveal ol li {
  list-style: none;
  counter-increment: list;
}

.reveal ol li:before {
  color: #7f7f7f;
  content: counter(list);
  display: inline-block;
  width: 1em; margin-left: -1.5em;
  margin-right: 0.5em; text-align: right; direction: rtl
}
